body {
    background-color: #E5E5E5;
    background-image: url("TC.13 Imagenes/Fondo Abeja.jpg");
    background-size: 70%;
    background-position: right;
    background-repeat: no-repeat;
}
main {
    background-image: url("TC.13 Imagenes/BANCO CONAVI.png");
    background-size: 20%;
    background-position: right top;
    background-repeat: no-repeat;
}